<!DOCTYPE html>
<html>
    <head>
        <style>
            body{
                background: #131722;
                color: #ffffff;
            }
        </style>

        <h1>
            Trend Follow
            <a href="/">.</a>
        </h1>
        
        <form action="/" method="POST">
            <input type="text" name="search"/>
            <input type="submit" name="hello"/>    
        </form>

    </head>

    <body>   
        {% block content %} {% endblock %}
    </body>
</html>